body::-webkit-scrollbar
{
  display: none;
}
body {
  background-image: url("../play/bin/images/galaxy.PNG");
}

#register {
  margin-top: 18%;
  margin-left: 41%;
}

#regText {
  text-decoration: none;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 1px 0 #86abff;
}
::placeholder {
  color: rgba(0, 0, 0, 0.80);
  /* opacity: 1; Firefox */
}
#regName {
  font-size: 30px;
  border: 1px #003CC5 solid;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #0b61f64f;
}

#regButton {
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: #0B63F6;
  box-shadow: 0 5px 0 #003CC5;
}

.regButton:hover {
  background: #003CC5;
  box-shadow: none;
  position: relative;
  top: 5px;
}

#imageBox {
  margin-left: 15%;
}

.images {
  height: 80px;
  width: 80px;
  border-radius: 15px;
}